body{
    background-color: gray;
    font-family: 'Oxygen Mono', monospace;
    font-size:25px;
}

#title{
    background-color: dimgray;
}

button{
    margin:20px;
    width:200px;
    height:50px;
    background-color: green;
}

#img-line{
    padding:170px
}